<a href="https://colab.research.google.com/github/helumis/Hank-lin/blob/master/0608.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [2]:
l2=['香蕉','蘋果','橘子']
l2

['香蕉', '蘋果', '橘子']

In [3]:
l3=[1,'香蕉',True]
l3

[1, '香蕉', True]

In [4]:
l4=[]
l4

[]

In [6]:
l1=[1,2,3,4]
print(l1)
print(l1[0])
print(l1[1])
print(l1[2])
print(l1[3])

[1, 2, 3, 4]
1
2
3
4

In [8]:
print(l1[4])

IndexError: ignored

In [20]:
l4=['香蕉','蘋果','橘子']

In [24]:
print(l4[0])
print(l4[1])
print(l4[2])

香蕉
蘋果
橘子

In [22]:
print(l4[-1])
print(l4[-2])
print(l4[-3])

橘子
蘋果
香蕉

In [27]:
l5=[['tom','1234']],['mary','abcd'],['david','5678']
print(l5[1])
print(l5[0])
print(l5[1][1])
print(l5[0])
print(l5[0][0])
print(l5[0][0])
print(l5[1][0])

['mary', 'abcd']
[['tom', '1234']]
abcd
[['tom', '1234']]
['tom', '1234']
['tom', '1234']
mary

In [29]:
s=[85,79,93]
print('國文成績: %d分' % s[0])
print('數學成績: %d分' % s[1])
print('英文成績: %d分' % s[2])

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [32]:
l6=[1,2,3,4,5]
print(l6)
l6[0]=9
print(l6[0])
print(l6)

[1, 2, 3, 4, 5]
9
[9, 2, 3, 4, 5]

In [33]:
l7=['香蕉','蘋果','橘子']
print(l7)
for s in l7 :
  print(s,end=',')

['香蕉', '蘋果', '橘子']
香蕉,蘋果,橘子,

In [34]:
s=[85,79,93,50]
print(len(s))

4

In [35]:
s=s=[85,79,93]
for i in range(len(s)):
  print(s[i])

85
79
93

In [36]:
s=['國文成績: 85分','數學成績: 79分','英文成績: 93分']
for i in range(len(s)):
  print(s[i])

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [79]:
s=['編號: 1姓名: Tom','編號: 2姓名: Mary','編號: 3姓名: Tony']
for i in range(len(s)):
  print(s[i])

編號: 1姓名: Tom
編號: 2姓名: Mary
編號: 3姓名: Tony

後面是嘗試

In [51]:
k=[[1,'Tom'],[2,'Mary'],[3,'Tony']]
for x in range(len(k)):
  print(k[x])

[1, 'Tom']
[2, 'Mary']
[3, 'Tony']

In [69]:
k=[1,2,3]

In [70]:
h=['Tom','Mary','Tony']

In [77]:
for x in range(len(k)):
  for y in range(len(h)):
    print(k[x])

1
1
1
2
2
2
3
3
3